@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500;1,700;1,800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #222222;
  line-height: 1.5;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

a {
  color: #1D3E69;
  text-decoration: none;
}
a:hover {
  color: #1D3E69;
}
a:focus, a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #000;
}

p {
  font-size: 22px;
  margin: 0;
}
@media only screen and (max-width: 1199px) {
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  p {
    font-size: 18px;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.navbar-area {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar {
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 7px 0;
}
@media only screen and (max-width: 991px) {
  .navbar {
    padding: 7px 0;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding: 7px 0;
  }
}
@media (max-width: 482px) {
  .navbar {
    padding: 7px 0;
  }
}
.navbar .navbar-brand {
  padding: 0;
  text-decoration: none;
}
.navbar .navbar-brand img {
  max-width: 120px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 1199px) {
  .navbar .navbar-brand img {
    max-width: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-brand img {
    max-width: 100px;
  }
}
@media only screen and (max-width: 482px) {
  .navbar .navbar-brand img {
    max-width: 80px;
  }
}
.navbar .navbar-nav {
  /** Large devices (desktops, 992px and up) **/
}
@media (min-width: 992px) {
  .navbar .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.navbar .navbar-nav .nav-item {
  position: relative;
  margin-left: 34px;
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item {
    margin-left: 16px;
  }
}
.navbar .navbar-nav .nav-item a {
  text-decoration: none;
  font-size: 15px;
  color: #222222;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 10px 0;
  position: relative;
  font-weight: 600;
}
.navbar .navbar-nav .nav-item a:hover, .navbar .navbar-nav .nav-item a.active {
  color: #1D3E69;
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item a {
    display: inline-block;
    margin: 4px 0px;
    padding: 6px 0;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0;
  }
}
.navbar .navbar-nav .nav-item a.btn-nav {
  padding: 7px 25px !important;
  background-color: #1D3E69;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #fff;
}
.navbar .navbar-nav .nav-item a.btn-nav:hover {
  background-color: #122641;
  color: #FFFFFF;
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item a.btn-nav {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #eee;
    z-index: 9;
    padding: 15px 12px 20px 12px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #eee;
    z-index: 9;
  }
}
.navbar .navbar-toggler {
  border: 0;
  outline: none;
}
.navbar .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar .navbar-toggler span {
  display: block;
  background-color: #000;
  height: 2px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.navbar .navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}
.navbar .navbar-toggler:not(.collapsed) span:nth-child(1) {
  -webkit-transform: translate(12%, -132%) rotate(45deg);
          transform: translate(12%, -132%) rotate(45deg);
}
.navbar .navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
.navbar .navbar-toggler:not(.collapsed) span:nth-child(3) {
  -webkit-transform: translate(12%, 33%) rotate(-45deg);
          transform: translate(12%, 33%) rotate(-45deg);
}
.navbar .navbar-toggler span:nth-child(1) {
  -webkit-transform: translate(0%, 0%) rotate(0deg);
          transform: translate(0%, 0%) rotate(0deg);
}
.navbar .navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.navbar .navbar-toggler span:nth-child(3) {
  -webkit-transform: translate(0%, 0%) rotate(0deg);
          transform: translate(0%, 0%) rotate(0deg);
}

/*--------------------------------------------------------------
# hero-area
--------------------------------------------------------------*/
.hero-area {
  background-image: url("../img/hero/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0px;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .hero-area {
    padding: 100px 0px;
  }
}
@media only screen and (max-width: 991px) {
  .hero-area {
    padding: 70px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-area {
    padding: 40px 0px;
  }
}
.hero-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero-area .hero-inner {
  position: relative;
}
.hero-area .hero-inner h1 {
  font-size: 44px;
  color: #FFFFFF;
  line-height: 1.4;
}
@media only screen and (max-width: 1199px) {
  .hero-area .hero-inner h1 {
    font-size: 37px;
  }
}
@media only screen and (max-width: 991px) {
  .hero-area .hero-inner h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-area .hero-inner h1 {
    font-size: 25px;
  }
}

/*--------------------------------------------------------------
# intro
--------------------------------------------------------------*/
.intro {
  padding: 40px 0px;
}
@media only screen and (max-width: 767px) {
  .intro {
    padding: 30px 0px;
  }
}
.intro p a {
  display: inline;
  font-weight: 600;
}

/*--------------------------------------------------------------
# title-sec
--------------------------------------------------------------*/
.title-sec {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 0px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .title-sec {
    padding: 60px 0px;
  }
}
.title-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.title-sec .title-inner {
  position: relative;
  text-align: center;
}
.title-sec .title-inner h2 {
  font-size: 36px;
  color: #FFFFFF;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .title-sec .title-inner h2 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# med
--------------------------------------------------------------*/
.med {
  padding: 30px 0px;
}
@media only screen and (max-width: 767px) {
  .med {
    padding: 20px 0px;
  }
}
.med p a {
  display: inline;
  font-weight: 600;
}

.four-fig {
  border-top: 1px solid #eee;
  padding-top: 40px;
  margin-top: 40px;
}
@media only screen and (max-width: 767px) {
  .four-fig {
    padding-top: 30px;
    margin-top: 30px;
  }
}
.four-fig .f-single h3 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .four-fig .f-single h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 482px) {
  .four-fig .f-single h3 {
    font-size: 22px;
  }
}
.four-fig .f-single p a {
  display: inline;
  font-weight: 600;
}

/*--------------------------------------------------------------
# cta
--------------------------------------------------------------*/
.cta {
  background-color: #422424;
  padding: 50px 0px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .cta {
    padding: 35px 0px;
  }
}
.cta h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #FFFFFF;
}
@media only screen and (max-width: 1199px) {
  .cta h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .cta h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
.cta p {
  color: #eee;
}
.cta p a {
  color: red;
  display: inline;
  font-weight: 600;
}

.btn-action {
  display: inline-block;
  text-decoration: none;
  background-color: #1D3E69;
  border: 4px solid #336db9;
  text-align: center;
  padding: 12px 50px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-action:hover {
  background-color: #122641;
  color: #FFFFFF;
}
@media only screen and (max-width: 1199px) {
  .btn-action {
    font-size: 20px;
    padding: 11px 40px;
  }
}
@media only screen and (max-width: 991px) {
  .btn-action {
    font-size: 18px;
    padding: 10px 36px;
  }
}

.links-btn {
  padding-top: 10px;
}
.links-btn a {
  display: inline-block;
  text-decoration: underline;
  margin-right: 12px;
  margin-left: 12px;
  font-size: 22px;
  font-weight: 600;
  color: #ff8800;
  margin-top: 10px;
}
@media only screen and (max-width: 1199px) {
  .links-btn a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .links-btn a {
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
# main-footer
--------------------------------------------------------------*/
.main-footer {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #dfdede;
  text-align: center;
}
.main-footer .footer-logo {
  max-width: 210px;
}
@media only screen and (max-width: 1199px) {
  .main-footer .footer-logo {
    max-width: 190px;
  }
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-logo {
    max-width: 170px;
  }
}
.main-footer .legal-text {
  font-size: 14px;
  padding-top: 14px;
}

.social-lists {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}
.social-lists li {
  display: inline-block;
}
.social-lists li:not(:last-child) {
  margin-right: 6px;
}
.social-lists a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 37px;
  border-radius: 50%;
  background-color: #1D3E69;
  color: #FFFFFF;
  font-size: 17px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social-lists a:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}